extends ../layout

block content
  h1 Books
  div.create-search-container
    a.button(href='/books/new') Create New Book
    form(method='get')
      if search
        input(type='search', id='search', name='search', placeholder='Search...', value=search)
      else
        input(type='search', id='search', name='search', placeholder='Search...')
      button.search-btn(type='submit') Search
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      if books.length > 0
        each book in books
          tr
            td
              a(href='/books/' + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.first_published
      else
        tr
          td(colspan='4', style='text-align: center; padding: 20px;') No results found
  if totalPages > 1
    nav.pagination
      ul
        if hasPrevious
          li
            - var prevPage = currentPage - 1
            - var prevUrl = search ? '?page=' + prevPage + '&search=' + search : '?page=' + prevPage
            a(href=prevUrl) Previous
        else
          li Previous
        - var startPage = Math.max(1, currentPage - 2)
        - var endPage = Math.min(totalPages, currentPage + 2)
        - var pages = []
        - for (var i = startPage; i <= endPage; i++) { pages.push(i); }
        if startPage > 1
          li
            - var firstUrl = search ? '?page=1&search=' + search : '?page=1'
            a(href=firstUrl) 1
          if startPage > 2
            li ...
        each pageNum in pages
          if pageNum === currentPage
            li.active
              - var currentUrl = search ? '?page=' + pageNum + '&search=' + search : '?page=' + pageNum
              a(href=currentUrl)= pageNum
          else
            li
              - var pageUrl = search ? '?page=' + pageNum + '&search=' + search : '?page=' + pageNum
              a(href=pageUrl)= pageNum
        if endPage < totalPages
          if endPage < totalPages - 1
            li ...
          li
            - var lastUrl = search ? '?page=' + totalPages + '&search=' + search : '?page=' + totalPages
            a(href=lastUrl)= totalPages
        if hasNext
          li
            - var nextPage = currentPage + 1
            - var nextUrl = search ? '?page=' + nextPage + '&search=' + search : '?page=' + nextPage
            a(href=nextUrl) Next
        else
          li Next
